h1{}

h2{}

h3{}

body{
  width: 80%;
  height: 100%;

  top: 5%;

  margin-left: 15%;
  margin-right: 15%;

  color: #000;

  position: absolute;
}

footer{
  border-top: 1px solid black;

  position: fixed;

  width: 100%;

  left: 0;
  bottom: 1px;
}

.foot-item{
  padding-left: 20%;
  font-size: 10pt;
}

div{
  background-color: white;
}

div.nav-title{
  display: inline;

  padding-right: .5%;

  border-bottom: 1px solid black;
}

div.nav-label{
  display: inline;

  float: right;

  padding-right: .5%;
  padding-left: .5%;

  border-left: 1px solid black;
    border-bottom: 1px solid black;
}

div.nav-label:hover{
  background-color: black;
  color: white
}

div.main{
  top: 0%;
}

nav{
  color: black;
  background-color: white;

  left: 0;
  top: 0;

  height: 4.6%;
  width: 100%;

  font-family: Raleway;
  font-size: 24pt;

  margin-bottom: 0%;

  position: fixed;

  align-content: center;

  border-bottom: 1px solid black;
}

div.textbox{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 3%;
  padding: 2%;
}

p{
  display: inline-block;
  float: left;

}

img{
  border-radius: 50%;

  height: 500px;
  width: 500px;

  display: inline;



}
