<div class="dropdown list">
  <a href="#Projects"><div class="dropdown-item">Projects</div></a>
  <a href="#Experience"><div class="dropdown-item">Experience</div></a>
  <a href="pages/photos.html"><div class="dropdown-item">Photography</div></a>
  <a href="content/Resume.pdf"><div class="dropdown-item">Resume</div></a>
</div>

<nav id="menu-nav-bar" class="nav-bar nav header-bar" style="background-color: #FFFFFF;">
  <a href="index.html"><div style="width: 50%;">Des Marks</div></a>
  <img class="right-side hamburger menu hamburger-photo" style="border-radius: 0;" src="images/hamburger.png">
  <hr class="header-line">
</nav>
